[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "autodiff"]
	path = autodiff
	url = https://github.com/autodiff/autodiff.git
[submodule "nlopt"]
	path = nlopt
	url = https://github.com/stevengj/nlopt.git
